In [10]:
import pandas as pd
import numpy as np
import re

In [ ]:
def read_shl_data(root_path):
    # Location
    loc_names = ['time', 'ign1', 'ign2', 'accuracy', 'latitude', 'longitude', 'altitude']
    loc = pd.read_table('data/train/Location.txt', header = None, names = loc_names, sep = " ").drop(['ign1', 'ign2'], axis = 1)

In [41]:
loc_names = ['time', 'ign1', 'ign2', 'accuracy', 'latitude', 'longitude', 'altitude']
loc = pd.read_table('data/train/Location.txt', header = None, names = loc_names, sep = " ").drop(['ign1', 'ign2'], axis = 1)
loc.head()

            time  accuracy   latitude  longitude    altitude
0  1490431658118      64.0  50.844494  -0.132922   97.664610
1  1490431659760      48.0  50.844491  -0.132924  128.267900
2  1490431660766      48.0  50.844481  -0.132931  135.611425
3  1490431661765      12.0  50.844469  -0.132930  134.436050
4  1490431662768      32.0  50.844267  -0.132787  135.993866

In [44]:
label_names = ['time', 'label']
label = pd.read_table('data/train/Label.txt', header = None, names = label_names, sep = "\t")
# label.groupby('label').count().apply(lambda x: x/label.shape[0], axis = 1)
label.head()

            time  label
0  1490431583000      4
1  1490431584000      4
2  1490431585000      4
3  1490431586000      4
4  1490431587000      4

In [179]:
def wifi_detail_transformer(wifi_list, this_time):
    res = np.array(wifi_list).reshape(-1, 5)
    res = pd.DataFrame(res, columns = ('bssid', 'ssid', 'rssi', 'freq', 'cap'))
    res.insert(loc = 0, column = 'time', value = [this_time] * res.shape[0])
    return res

In [ ]:
wifi = pd.read_table('data/train/Wifi.txt', header = None)
wifi['time'] = wifi.apply(lambda x: x[0].split(";")[0], axis = 1)
wifi['number'] = wifi.apply(lambda x: x[0].split(";")[3], axis = 1)
# detail wifi info
wifi_detail = wifi.apply(lambda x: wifi_detail_transformer(x[0].split(";")[4:], x[0].split(";")[0]), axis = 1)
wifi_detail = pd.concat(list(wifi_detail)).reset_index(drop = True)
# delete raw data
wifi.drop([0], axis = 1, inplace = True)

In [203]:
gps = pd.read_table('data/train/GPS.txt', header = None).iloc[:1000,:]

In [208]:
def gps_detail_transformer(wifi_list, this_time):
    res = np.array(wifi_list).reshape(-1, 4)
    res = pd.DataFrame(res, columns = ('id', 'snr', 'azimuth', 'elevation'))
    res.insert(loc = 0, column = 'time', value = [this_time] * res.shape[0])
    return res

In [205]:
gps['time'] = gps.apply(lambda x: x[0].split(" ")[0], axis = 1)
gps['number'] = gps.apply(lambda x: x[0].split(" ")[-1], axis = 1)

In [207]:
gps_detail = wifi_tmp.apply(lambda x: wifi_detail_transformer(x[0].split(";")[4:], x[0].split(";")[0]), axis = 1)
gps_detail = pd.concat(list(wifi_detail)).reset_index(drop = True)

                                                   0           time number
0  1490430924008 54415677594 242658854 7 18.0 62....  1490430924008      2
1  1490430925005 55412323428 242658854 7 18.0 62....  1490430925005      2
2  1490430926011 56418411969 242658854 7 18.0 62....  1490430926011      2
3  1490430927018 57425188011 242658854 7 18.0 62....  1490430927018      2
4  1490430928004 58410924469 242658854 7 17.0 62....  1490430928004      2
5  1490430929002 59409794781 242658854 7 17.0 62....  1490430929002      2
6  1490430930012 60419713010 242658854 9 21.0 86....  1490430930012      1
7  1490430931019 61426092698 242658854 9 21.0 86....  1490430931019      2
8  1490430932017 62424246343 242658854 9 21.0 86....  1490430932017      2
9  1490430933012 63419291135 242658854 9 20.0 86....  1490430933012      2

In [201]:
with open('data/train/GPS.txt') as file:
    for i, line in enumerate(file):
        print(line)
        if i >= 10:
            break

1490430924008 54415677594 242658854 7 18.0 62.0 50.0 9 17.0 86.0 24.0 2

1490430925005 55412323428 242658854 7 18.0 62.0 50.0 9 17.0 86.0 24.0 2

1490430926011 56418411969 242658854 7 18.0 62.0 50.0 9 18.0 86.0 24.0 2

1490430927018 57425188011 242658854 7 18.0 62.0 50.0 9 19.0 86.0 24.0 2

1490430928004 58410924469 242658854 7 17.0 62.0 50.0 9 19.0 86.0 24.0 2

1490430929002 59409794781 242658854 7 17.0 62.0 50.0 9 19.0 86.0 24.0 2

1490430930012 60419713010 242658854 9 21.0 86.0 24.0 1

1490430931019 61426092698 242658854 9 21.0 86.0 24.0 28 14.0 144.0 13.0 2

1490430932017 62424246343 242658854 9 21.0 86.0 24.0 28 14.0 144.0 13.0 2

1490430933012 63419291135 242658854 9 20.0 86.0 24.0 28 13.0 144.0 13.0 2

1490430934013 64420416655 242658854 9 20.0 86.0 24.0 1