In [1]:
import pandas as pd
import numpy as np
import re
import time
import matplotlib.pyplot as plt
from collections import Counter
import pickle
import utm
import random
import matplotlib as mpl
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [39]:
from utils import DataProcesser

In [55]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
with open('data/mid_res/data_detail.pickle', 'rb') as file:
    data = pickle.load(file)

In [12]:
dp = DataProcesser.DataProcesser(data)

In [13]:
dp.process_loc()

------------------------ Features in self.data.loc Extracted ------------------------

In [16]:
dp.process_wifi()

------------------------ Features in self.data.wifi(_detail) Extracted ------------------------

In [17]:
dp.process_gps()

------------------------ Features in self.data.gps(_detail) Extracted ------------------------

In [18]:
dp.process_cells()

------------------------ Features in self.data.cells(_detail) Extracted ------------------------

In [22]:
data2.df

,time,accuracy,latitude,longitude,altitude,num_gps,num_wifi,num_cells,label
0,1490431583000,NaN,NaN,NaN,NaN,4.0,6.0,NaN,4
1,1490431584000,NaN,NaN,NaN,NaN,4.0,6.0,NaN,4
2,1490431585000,NaN,NaN,NaN,NaN,4.0,6.0,NaN,4
3,1490431586000,NaN,NaN,NaN,NaN,4.0,NaN,NaN,4
4,1490431587000,NaN,NaN,NaN,NaN,4.0,6.0,NaN,4
...,...,...,...,...,...,...,...,...,...
98047,1490861603000,16.0,50.844255,-0.118538,92.085548,14.0,8.0,NaN,6
98048,1490861604000,16.0,50.844320,-0.118431,92.227966,14.0,8.0,NaN,6
98049,1490861605000,16.0,50.844394,-0.118307,92.347984,14.0,8.0,NaN,6
98050,1490861606000,16.0,50.844471,-0.118178,92.438866,14.0,8.0,NaN,6
98051,1490861607000,16.0,50.844548,-0.118052,92.545456,14.0,8.0,NaN,6

In [30]:
isinstance(data.df, pd.core.frame.DataFrame)

True

In [43]:
data.wifi_detail

,time,bssid,ssid,rssi,freq,cap,wifi_rssi,wifi_freq
0,1490430923000,c0:05:c2:29:40:ff,VM8236218,-56,5220,[WPA2-PSK-CCMP+TKIP][WPS][ESS],-56,5.0
1,1490430923000,c4:04:15:e4:5b:30,VM201213-2G,-70,2437,[WPA-PSK-CCMP+TKIP][WPA2-PSK-CCMP+TKIP][WPS][ESS],-70,2.4
2,1490430923000,a0:63:91:a2:5a:50,VM702835-2G_EXT,-85,2462,[WPA-PSK-CCMP+TKIP][WPA2-PSK-CCMP+TKIP][WPS][ESS],-85,2.4
3,1490430923000,c0:05:c2:29:40:f9,VM8236218,-55,2412,[WPA-PSK-CCMP+TKIP][WPA2-PSK-CCMP+TKIP][WPS][ESS],-55,2.4
4,1490430923000,98:e7:f5:b9:3f:14,TALKTALKB93F0E,-65,2432,[WPA-PSK-CCMP+TKIP][WPA2-PSK-CCMP+TKIP][WPS][ESS],-65,2.4
...,...,...,...,...,...,...,...,...
1714352,1492602350000,8c:eb:c6:e5:61:49,MTN-MobileWiFi-E5573,-47,2412,[WPA2-PSK-CCMP][ESS],-47,2.4
1714353,1492602350000,00:20:c7:83:8e:0e,BTHub5-WT6X,-88,2462,[WPA2-PSK-CCMP][WPS][ESS],-88,2.4
1714354,1492602350000,00:fe:c8:cf:95:bf,O2 Wifi,-75,5220,[ESS],-75,5.0
1714355,1492602350000,00:fe:c8:da:d8:cf,O2 Wifi,-82,5320,[ESS],-82,5.0
1714356,1492602350000,00:fe:c8:cf:95:b0,O2 Wifi,-81,2412,[ESS],-81,2.4

In [56]:
dp.process_wifi()

------------------------ Features in self.data.wifi(_detail) Extracted ------------------------
New Feature Added: {'wifi_rssi_max_x', 'wifi_rssi_mode_x', 'wifi_rssi_std_y', 'wifi_rssi_min_y', 'wifi_freq_5ratio', 'wifi_rssi_std_x', 'wifi_rssi_mean_y', 'wifi_rssi_mode_y', 'wifi_rssi_max_y', 'wifi_rssi_mean_x', 'wifi_rssi_min_x'}